@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
	margin: 0px;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

#headContainer {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #1c6835;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#logo {
    width: 18%;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-top: 45px;
    display: inline-block;
    margin-left: 90px;
    position: relative;
    padding-bottom: 10px;

}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#banner {
    top: 20%;
    position: fixed;
    background: #fdfdfd;
    height: 450px;
    width: 100%;
}

#bannerImg {
    width: 100%;
}

#content {
  width:100%;
  position: relative;
  margin: 670px auto;
  margin-bottom: 0px;
  background: #f2f2f2;
}

.categoryRow {
  margin-left: auto;
  margin-right: auto;
	text-align: center;
  padding-bottom: 10%;
}

.catLeftContainer {
		position: relative;
		display: inline-block;
    width: 480px;
		height: 400px;
		margin-right: 5%;
}

.catRightContainer {
		position: relative;
		display: inline-block;
    width: 480px;
		height: 400px;

}


.catImageleft {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
  backface-visibility: hidden;

}


.catImageright {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
  backface-visibility: hidden;

}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.catLeftContainer:hover .catImageleft {
  opacity: 0.3;
}

.catRightContainer:hover .catImageright {
  opacity: 0.3;
}

.catLeftContainer:hover .middle {
  opacity: 1;
}

.catRightContainer:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 50px;
}

/*
footer {
	width:100%;
  background-color:#494949;
  position: fixed;
  padding:40px 0px;
  left:0px;
  bottom:0px;
}


.stopka{
	font-family:"Work Sans", sans-serif;
	font-size:20px;
	color:#ffffff;
	text-align:center;
}
*/

.reg_error {
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}

input[type=text], input[type=password], select, textarea {
  width: 50%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 5px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #1c6835;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 17%;
}


input[type=submit]:hover {
  background-color: #368851;
}


#regFormContainer {
  
  background-color: #f2f2f2;
  padding-left: 35%;
  margin-top: 8%;
  padding-top: 6%;
  padding-bottom: 5%;
}

#orderFormContainer {
  
  background-color: #f2f2f2;
  padding-left: 35%;
  margin-top: 8%;
  padding-top: 15%;
  padding-bottom: 15%;
}

#loginFormContainer {
  
  background-color: #f2f2f2;
  padding-left: 35%;
  margin-top: 8%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#accountCreated {
  margin-top: 10%;
  padding-top: 10%;
  padding-bottom: 12%;
  text-align: center;
}

#createUserLoginButton {
  background-color: #1c6835;
  color: white;
  padding: 22px 40px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

#createUserLoginButton:hover {
  background-color: #368851;
}

.cartButton {
  background-color: #1c6835;
  color: white;
  padding: 22px 40px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.cartButton:hover {
  background-color: #368851;
}

.cartDelBtn {
  width: 100%;
  clear: both;
  background: #e9e9e9;
  border: 1px solid #ccc;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  cursor: pointer;
}

.cartDelBtn:hover {
  background: #ddd;
}


.cartContent {
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 12%;
  text-align: center;
}

.cartList {
  margin-top: 20px;
  margin-bottom: 3%;
  margin-left: 13%;
  width: 70%;
  list-style: none;
}

.cartItem {
  margin-bottom: 20px;
}

.addToCartButton, .checkAvailButton {
  background-color: #1c6835;
  color: white;
  width: 180px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.addToCartButton:hover, .checkAvailButton:hover {
  background-color: #368851;
}
  

.category_content {
  margin: auto;
  margin-top: 110px;
}

.categoryName {
  margin-left: 20%;
}

.search_container {
  text-align: center;
  background-color: #e9e9e9;
  padding-top: 3%;
  padding-bottom: 2%;
}

.search_container input[type=text] {
  width: 40%;
  font-size: 17px;
  padding: 6px;
  border-radius: 0%;
}

.search_container button {
  padding: 6px 20px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid #ccc; 
  cursor: pointer;
}

.search_container button:hover {
  background: #ccc;
}

.category_filter {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  width: 300px;
  height: 600px;
  padding-left: 2%;
  margin-bottom: 3%;
}

.priceFilterInputs input {
  width: 80px;
  margin-left: 90px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  background: #ddd;
  font-size: 17px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.priceFilterInputs label {
  position: absolute;
  font-size: 15px;
}


#priceFilterSubmit {
  margin-top: 10px;
}

.product_list {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 3%;
  width: 70%;
  list-style: none;
}

.pageList {
  margin-bottom: 100px;
  text-align: center;
}

.pageList a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pageList a.currentPage {
  background: #1c6835;
  color: white;
  border-radius: 5px;
}

.pageList a:hover:not(.currentPage) {
  background: #e9e9e9;
  border-radius: 5px;
}

.product_elem_btn {
  width: 100%;
  clear: both;
  background: #e9e9e9;
  border: 1px solid #ccc;
  padding-bottom: 25px;
  padding-top: 25px;
  cursor: pointer;
}

.product_elem_btn:hover {
  background: #ddd;
}

.product_list_name {
  float: left;
  font-size: 20px;
  margin-left: 20px;
}

.product_list_price {
  float: right;
  font-size: 20px;
  margin-right: 20px;
}


#product_content {
  margin: auto;
  margin-top: 200px;
  width: 90%;
}

.product_name {
  height: 10%;
  margin-left: 3%;
  font-size: 30px;
}

.product_view {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}

.product_image {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin-right: 5%;
  background-color: #368851;
  
}

.productPic {
  width: 100%;
}

.product_properties {
  position: absolute;
  display: inline-block;
  width: 600px;
  height: 360px;
  padding-left: 40px;
  padding-top: 40px;
}


