<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="UTF-8">
<title>Rowery</title>
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="container">
	<header>
		<div id="headContainer">
			<a href="/"><img src="../static/images/logoRowery.png" alt="logo" id="logo"/></a>
			<nav>
				<ul>
					<li><a href="stores">Nasze sklepy</a></li>
					<li><a href="login">Zaloguj się</a></li>
					<li><a href="register">Zarejestruj się</a></li>
				</ul>
			</nav>
		</div>
  </header>
	<div class="category_content">
    <div class="search_container">
      <form action="">
        <input class="search_bar" type="text" name="search" placeholder="Wyszukaj..."><button type="submit" value="Szukaj"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="category_filter">
      <form method="POST" action="">
        <div class="priceFilterInputs">
          <label for="price-min">Cena min:</label>
          <input type="number" name="price-min" id="price-min" value="200" min="0" max="1000">
          <br>
          <label for="price-max">Cena max:</label>
          <input type="number" name="price-max" id="price-max" value="800" min="0" max="1000">
        </div>
        <br>
        <input type="submit" id="priceFilterSubmit" value="Filtruj">
      </form>
    </div>
    <ul class="product_list">
      {% for product in productList %}
        <li><a href="product{{product.id}}"><button class="product_elem_btn"><span class="product_list_name">{{product.nazwa_produktu}}</span><span class="product_list_price">{{product.cena}}</span></button></a></li>
      {% endfor %}
    </ul>
  </div>
<!--
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
-->
</div>

</body>
</html>