<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="UTF-8">
<title>Rowery</title>
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>
<div id="container">
	<header>
		<div id="headContainer">
			<a href="/"><img src="../static/images/logoRowery.png" alt="logo" id="logo"/></a>
			<nav>
				<ul>
                    {% if current_user.is_authenticated and current_user.login == 'admin' %}
                        <li><a href="newProductForm">Dodaj produkt</a></li>
                        <li><a href="stores">Nasze sklepy</a></li>
						<li><a href="cart">Koszyk</a></li>
						<li><a href="logout">Wyloguj</a></li>
					{% elif current_user.is_authenticated %}
						<li><a href="stores">Nasze sklepy</a></li>
						<li><a href="cart">Koszyk</a></li>
						<li><a href="logout">Wyloguj</a></li>
					{% else %}
						<li><a href="stores">Nasze sklepy</a></li>
						<li><a href="login">Zaloguj się</a></li>
						<li><a href="register">Zarejestruj się</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
  </header>
	<div id="banner">
			<img src="../static/images/rower2.jpg" alt="banner" id="bannerImg"/>
	</div>
	<div id="content">
    <div class="categoryRow">
			<div class="catLeftContainer">
				<a href="bikes"><img src="../static/images/rower1200_a.jpg" alt="rowery" id="rowery" class="catImageleft"/></a>
				<div class="middle">
					<div class="text">ROWERY</div>
				</div>
			</div>
			<div class="catRightContainer">
				<a href="frames"><img src="../static/images/rama.jpg" alt="ramy" id="ramy" class="catImageright"/></a>
				<div class="middle">
					<div class="text">RAMY</div>
				</div>
			</div>
		</div>
		
    <div class="categoryRow">
			<div class="catLeftContainer">
				<a href="handlebars"><img src="../static/images/kierownica.jpg" alt="kierownice" id="kierownice" class="catImageleft"/></a>
				<div class="middle">
					<div class="text">KIEROWNICE</div>
				</div>
			</div>
			<div class="catRightContainer">
				<a href="saddles"><img src="../static/images/siodełko.jpg" alt="siodelka" id="siodelka" class="catImageright"/></a>
				<div class="middle">
					<div class="text">SIODEŁKA</div>
				</div>
			</div>
    </div>

    <div class="categoryRow">
			<div class="catLeftContainer">
				<a href="wheels"><img src="../static/images/kola.jpg" alt="kola" id="kola" class="catImageleft"/></a>
				<div class="middle">
					<div class="text">KOŁA</div>
				</div>
			</div>
			<div class="catRightContainer">
				<a href="tyres"><img src="../static/images/opona.jpg" alt="opony" id="opony" class="catImageright"/></a>
				<div class="middle">
					<div class="text">OPONY</div>
				</div>
			</div>
		</div>
	</div>
<!--
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
-->
</div>

</body>
</html>