<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="UTF-8">
<title>Rowery</title>
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>
<div id="container">
	<header>
		<div id="headContainer">
			<a href="index.html"><img src="../assets/logoRowery.png" alt="logo" id="logo"/></a>
			<nav>
				<ul>
					<li><a href="stores">Nasze sklepy</a></li>
					<li><a href="login">Zaloguj się</a></li>
					<li><a href="register.html">Zarejestruj się</a></li>
				</ul>
			</nav>
		</div>
  </header>
	<div id="product_content">
		<div class="product_name">
			<h2>Nazwa produktu</h2>
		</div>
		<div class="product_view">
			<div class="product_image">
				<img src="../assets/imageNotFound.jpg" alt="image" class="productPic">
			</div>
			<div class="product_properties">
				Rodzaj: 
				<br /><br />
				Cena:
				<br /><br />
				itd...
			</div>
		</div>
	</div>
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
</div>

</body>
</html>