<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="UTF-8">
<title>Rowery</title>
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>
<div id="container">
	<header>
		<div id="headContainer">
			<a href="/"><img src="../static/images/logoRowery.png" alt="logo" id="logo"/></a>
			<nav>
				<ul>
					{% if current_user.is_authenticated %}
						<li><a href="stores">Nasze sklepy</a></li>
						<li><a href="cart">Koszyk</a></li>
						<li><a href="logout">Wyloguj</a></li>
					{% else %}
						<li><a href="stores">Nasze sklepy</a></li>
						<li><a href="login">Zaloguj się</a></li>
						<li><a href="register">Zarejestruj się</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
  </header>
	<div id="product_content">
		<div class="product_name">
			<h2>{{productName}}</h2>
		</div>
		<div class="product_view">
			<div class="product_image">
				<img src="../static/images/imageNotFound.jpg" alt="image" class="productPic">
			</div>
			<div class="product_properties">
				Kategoria: {{category}}
				<br /><br />
				Średnica koła: {{diameter}}
				<br /><br />
				Rodzaj: {{type}}
				<br /><br />
				Cena: {{price}}
				<br /><br />
				<div><a href=""><button type="button" class="checkAvailButton">Sprawdź dostępność</button></a></div>
				<div>
					<form action="cart" method="POST">
						<input type="hidden" name="idOfProduct" value="{{id_of_product}}">
						<a href=""><button type="submit" class="addToCartButton">Dodaj do koszyka</button></a>
					</form>

                    {% if current_user.login == 'admin' %}
                    <form action="deleteProduct" method="POST">
						<input type="hidden" name="idOfProduct" value="{{id_of_product}}">
						<a href=""><button type="submit" class="addToCartButton">Usuń produkt</button></a>
					</form>

	                <form action="updateProductForm" method="POST">
						<input type="hidden" name="idOfProduct" value="{{id_of_product}}">
						<a href=""><button type="submit" class="addToCartButton">Edytuj produkt</button></a>
					</form>
                    {% endif %}

				</div>

			</div>
		</div>
	</div>
<!--
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
-->
</div>

</body>
</html>