<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="UTF-8">
<title>Rowery</title>
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>
<div id="container">
	<header>
		<div id="headContainer">
			<a href="/"><img src="../static/images/logoRowery.png" alt="logo" id="logo"/></a>
			<nav>
				<ul>
					<li><a href="stores">Nasze sklepy</a></li>
					<li><a href="login">Zaloguj się</a></li>
					<li><a href="register">Zarejestruj się</a></li>
				</ul>
			</nav>
		</div>
  </header>
	<div id="product_content">
		<div class="product_name">
			<h2>{{productName}}</h2>
		</div>
		<div class="product_view">
			<div class="product_image">
				<img src="../static/images/imageNotFound.jpg" alt="image" class="productPic">
			</div>
			<div class="product_properties">
				Producent: {{brand}}
				<br /><br />
				Kategoria: {{category}}
				<br /><br />
				Średnica koła: {{diameter}}
				<br /><br />
				Rodzaj: {{type}}
				<br /><br />
				Cena: {{price}}
				<br /><br />
				<div><a href=""><button type="button" class="checkAvailButton">Sprawdź dostępność</button></a></div>
				<div><a href=""><button type="button" class="addToCartButton">Dodaj do koszyka</button></a></div>

			</div>
		</div>
	</div>
<!--
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
-->
</div>

</body>
</html>