<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
<title>Rowery</title>
</head>
	<body>
			<header>
					<div id="headContainer">
						<a href="/"><img src="../static/images/logoRowery.png" alt="logo" id="logo"/></a>
						<nav>
							<ul>
							
							</ul>
						</nav>
					</div>
				</header>
				<div id="accountCreated">
          <h2>Produkt został dodany do ofery sklepu</h2>
          <a href="/"><button type="button" id="createUserLoginButton">Powrót</button></a>
				</div>
<!--
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
-->
      <script type="text/javascript" src=""></script>
    </body>
</html>