<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
<title>Rowery</title>
</head>
	<body>
			<header>
					<div id="headContainer">
						<a href="/"><img src="../static/images/logoRowery.png" alt="logo" id="logo"/></a>
						<nav>
							<ul>
								<li><a href="login">Zaloguj się</a></li>
								<li><a href="register">Zarejestruj się</a></li>
							</ul>
						</nav>
					</div>
				</header>
				<div id="regFormContainer">
						<form method="POST"  action="/signUp" onsubmit="return Validate()">

                            <label for="imie">Imię</label><br />
							<input type="text" id="imie" name="imie" placeholder="Imię..."><br />
							<div id="login_error" class="reg_error"></div>

                            <label for="nazwisko">Nazwisko</label><br />
							<input type="text" id="nazwisko" name="nazwisko" placeholder="Nazwisko..."><br />
							<div id="login_error" class="reg_error"></div>

							<label for="login">Nazwa użytkownika</label><br />
							<input type="text" id="reglogin" name="login" placeholder="Nazwa użytkownika..."><br />
							<div id="login_error" class="reg_error"></div>
					
							<label for="email">Adres email</label><br />
							<input type="text" id="email" name="email" placeholder="Adres email..."><br />
							<div id="email_error" class="reg_error"></div>

							<label for="password">Hasło</label><br />
							<input type="password" id="regpassword" name="password" placeholder="Hasło..."><br />
							<div id="password_error" class="reg_error"></div>

							<label for="confirm_password">Powtórz hasło</label><br />
							<input type="password" id="confirm_password" name="confirm_password" placeholder="Powtórz hasło..."><br />
							<div id="confirm_password_error" class="reg_error"></div>
					
							<input type="submit" id="regsubmit" value="Zarejestruj się">
					
						</form>
				</div>
<!--
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
-->
      <script type="text/javascript" src="../static/js/main.js"></script>
    </body>
</html>