<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
<title>Rowery</title>
</head>
	<body>
			<header>
					<div id="headContainer">
						<a href="/"><img src="../static/images/logoRowery.png" alt="logo" id="logo"/></a>
						<nav>
							<ul>
								
							</ul>
						</nav>
					</div>
				</header>

				<div id="regFormContainer">
						<form method="POST"  action="updateProduct" >
                            <input type="hidden" name="idOfProduct" value="{{id_of_product}}">
                            <label for="nazwa_produktu">Nazwa produktu</label><br />
							<input type="text" id="nazwa_profuktu" name="nazwa_produktu" placeholder="{{ productName }}" required><br />
							<div id="nazwa_error" class="reg_error"></div>

                            <label for="cena">Cena</label><br />
							<input type="text" id="cena" name="cena" placeholder="{{ price }}" required><br />
							<div id="cena_error" class="reg_error"></div>

							<input type="submit" id="regsubmit" value="Zapisz produkt">

						</form>
				</div>
<!--
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
-->
      <script type="text/javascript" src="../static/js/main.js"></script>
    </body>
</html>