<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
<title>Rowery</title>
</head>
	<body>
			<header>
					<div id="headContainer">
						<a href="/"><img src="../static/images/logoRowery.png" alt="logo" id="logo"/></a>
						<nav>
							<ul>
								<li><a href="login">Zaloguj się</a></li>
								<li><a href="register">Zarejestruj się</a></li>
							</ul>
						</nav>
					</div>
				</header>
				<div id="accountCreated">
          <h2>Niepowodzenie rejestracji: </h2>
                    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <p><h2> {{ message }}</h2></p>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                {% block body %}{% endblock %}

          <a href="register"><button type="button" id="createUserLoginButton">Powrót</button></a>
				</div>
      <script type="text/javascript" src=""></script>
    </body>
</html>