<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
<title>Rowery</title>
</head>
	<body>
			<header>
					<div id="headContainer">
						<a href="/"><img src="../static/images/logoRowery.png" alt="logo" id="logo"/></a>
						<nav>
							<ul>
								<li><a href="login">Zaloguj się</a></li>
								<li><a href="register">Zarejestruj się</a></li>
							</ul>
						</nav>
					</div>
				</header>
				<div id="accountCreated">
          <h2>Nie udało się zalogować - Podane dane są błędne, lub użytkownik nie jest zarejestrowany</h2>
          <a href="login"><button type="button" id="createUserLoginButton">Powrót</button></a>
				</div>
      <script type="text/javascript" src=""></script>
    </body>
</html>